NET "clk" LOC=C9 | IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 20.0ns HIGH 50%;

NET "o1[3]" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "o1[2]" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "o1[1]" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "o1[0]" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

NET "o2[3]" LOC = "F9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "o2[2]" LOC = "E9" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "o2[1]" LOC = "D11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "o2[0]" LOC = "C11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;

NET "rotary" LOC = "V16" | IOSTANDARD = LVTTL | PULLDOWN;
NET "sw[3]" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;
NET "sw[2]" LOC = "H18" | IOSTANDARD = LVTTL | PULLUP ;
NET "sw[1]" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;
NET "sw[0]" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;

NET "rota" LOC = "D18" | IOSTANDARD =LVTTL | PULLDOWN ;
NET "rotb" LOC = "H13" | IOSTANDARD =LVTTL | PULLDOWN ;
NET "rotc" LOC = "K17" | IOSTANDARD =LVTTL | PULLDOWN ;
NET "rotd" LOC = "V4" | IOSTANDARD =LVTTL | PULLDOWN ;

NET "rotc" CLOCK_DEDICATED_ROUTE = FALSE;
NET "rotd" CLOCK_DEDICATED_ROUTE = FALSE;
NET "rota" CLOCK_DEDICATED_ROUTE = FALSE;
NET "rotb" CLOCK_DEDICATED_ROUTE = FALSE;